
<head>
<meta charset="UTF-8">
<title>Melodia</title>
<%= stylesheet_link_tag "main", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "getUrlVars.js", "jquery.js", "data-turbolinks-track" => true %>	
	
</head>

<body>

<div id="banner_container">
<ul id="banner">
<li><%= link_to (image_tag("nav_logo_small.png", :alt => "Melodia")), root_path %>
	<ul><li><%= link_to "Log Out", signout_path, method: "delete" %></li></ul>
</li>
<li><a href='#' id="notif"><img alt="Notifications" src="/assets/notif.png" /></a></li>
<li><%= link_to "Search Users", users_path, id:"Me" %></li>
<li><%= link_to "Trending", top100_path, id:"trend" %></li>

<li><form id="Search" name="Search" onsubmit="return validateForm()" method="post" data-remote="true" >
		<input type="text" name="SearchField" id="searcho" placeholder="Search Music" /><input type="submit" value="" id="searchbutton"/></form></li>
</ul>
</div>


<div id="shift_down_container">
<div id="searchresults">
</div>
<script>
window.onload = function() {
	var searchterm = getUrlVars()["SearchField"];
	if (searchterm != undefined) {
	document.getElementById('searcho').value = searchterm;
	validateForm();
	}
	return false;
}

function validateForm()
{
var x=document.forms["Search"]["SearchField"].value;
var y=x.split(' ').join('+');
var z=("https://itunes.apple.com/search?term=" + y + "&entity=song");
$("#searchresults").empty();
$.ajax({
	url: z,
	type: "GET",
	dataType: "jsonp",
	async: false,
	success: function(data) {
	for (i=0; i<data.results.length; i++) {
	
	var a = data.results[i].artworkUrl100;
	var b = a.replace("100x100", "225x225");
	var artist = data.results[i].artistId;
	var collection = data.results[i].collectionId;
	var track = data.results[i].trackId;
	
	$("#searchresults").append(
	"<div class='separator'>" 
	+ "<a href='albums?collectionId=" + collection + "'>"
	+ "<img src='" + b + "' alt='' height=225px width=225px/>" + "</a>" + "<br/>"
	+ "<h3>" + "<a  href='tracks?trackId=" + track + "' title='" + data.results[i].trackName.replace("'","&apos;") + "'>" + data.results[i].trackName + "</a>" + "<br/>" 
	+ "<a href='artists?artistId=" + artist + "' title='" + data.results[i].artistName.replace("'","&apos;") + "'>" + data.results[i].artistName + "</a>" + "</h3>"
	+ "<audio controls preload='none'><source src='" + data.results[i].previewUrl + "' type='audio/mpeg'></audio>"
	+ "<a href='" + data.results[i].trackViewUrl + "'><img src='/assets/available.png' height=36.5px width=100px alt=''/></a>"
	+ "&nbsp&nbsp<a href='#'><img src='/assets/share_small.png' height=36.5px width=100px alt=''/></a>"
	+ "</div>");
	
	}

	}
});
return false;
}
</script>
</div>
</div>
</body>