
<head>
<meta charset="UTF-8">
<title>Melodia</title>
<%= stylesheet_link_tag "main", media: "all",
                                           "data-turbolinks-track" => true %>
<%= javascript_include_tag "getUrlVars.js", "jquery.js", "data-turbolinks-track" => true %>	
	
</head>

<body>

<div id="banner_container">
<ul id="banner">
<li><%= link_to (image_tag("nav_logo_small.png", :alt => "Melodia")), root_path %>
	<ul><li><%= link_to "Log Out", signout_path, method: "delete" %></li></ul>
</li>
<li><a href='#' id="notif"><img alt="Notifications" src="/assets/notif.png" /></a></li>
<li><%= form_tag(users_path, :method => "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" , id: "Jankfield" %>
  <%= submit_tag "", :name => :nil, id:"Jank" %>
<% end %></li>
<li><%= link_to "Trending", top100_path, id:"trend" %></li>

<li><%= link_to "Search Music", search_path %></li>
</ul>
</div>


<div id="shift_down_container">
<div id="user_shift">
<h1>Results</h1>




<ul class="users">
  <%= if params[:search] 
         render @users
      end %>
</ul>

<%= will_paginate %>



</div>
</div>
</body>