<header >
<%= stylesheet_link_tag "main", media: "all",
                                           "data-turbolinks-track" => true %>
<div id="banner_container">
<ul id="banner">
<li><%= link_to (image_tag("nav_logo_small.png", :alt => "Melodia")), root_path %>
	<ul><li><%= link_to "Log Out", signout_path, method: "delete" %></li>
	<li><a href="#">blog</a></li></ul>
</li>
<li><a href='#' id="notif"><%= image_tag("notif.png", :alt => "Notifications") %></a></li>
<li><%= link_to "Users", users_path, id:"Me" %></li>
<li><a href="top100.html" id="trend">Trending</a></li>

<li><form id="Search" name="Search" onsubmit="return validateForm()" action="search.html?search=searchterm">
		<input type="text" name="SearchField"/><input type="submit" value=""/></form></li>
</ul>
</div>
<script>
function validateForm() {
	var x=document.forms["Search"]["SearchField"].value;
	var y=x.split(' ').join('+');
	$("#Search").replace("searchterm", y);
	return true;
}
</script>
 
</header>